[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
click = "*"
halo = "*"
inquirer = "*"
rich = "*"
pyfiglet = "*"

[dev-packages]

[requires]
python_version = "*"
